.navbar{
    background-color: rgb(237, 147, 44);
}
body{
    background-image:url("BGI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#content{
    font-size: 100px;
    font-family: "Yuji Mai", serif;
    color:antiquewhite;
}
#IMG4{
    border-radius: 43%;
    margin: 65px;
}
#para1{
    font-family: "Yuji Mai", serif;
    color:antiquewhite;
    position: absolute;
        top: 400px;
        left: 62px;
}
#para2 {
    font-family: "Yuji Mai", serif;
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 302px;
}
#para3 {
    font-family: "Yuji Mai", serif;
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 514px;
}
#para4 {
    font-family: "Yuji Mai", serif;
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 765px;
}
#para5 {
    font-family: "Yuji Mai", serif;
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 1000px;
}
#para6 {
    font-family: "Yuji Mai", serif;
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 1240px;
}
